@model Produto

<h1>Dados do Produto:</h1>

<div><strong>Código:</strong> @Model.Codigo</div>
<div><strong>Descrição:</strong> @Model.Descricao </div>
<div><strong>Preço:</strong> @Model.Preco</div>

